<script>
    $().ready(function() {
        $('#categories').tableDnD({
            onDrop: function(table, row) {
                $.ajax({
                    type: "POST",
                    url: "<%= url_for(:action => 'sort') %>",
                    processData: false,
                    data: $.tableDnD.serialize() + '&authenticity_token=' + encodeURIComponent('<%= form_authenticity_token if protect_against_forgery? %>'),
                    success: function() {
                        document.getElementById(row.id).style.background = '#FFFFCC';
                        $('#flashmodal').fadeIn(function() {
                            setTimeout(function() {
                                $('#flashmodal').fadeOut();
                                document.getElementById(row.id).style.background = '#ADDDCC';
                            }, 200);
                        });
                    }
                });
            }
        })
    })
</script>
<div id="flashmodal" class="flashmodal">
  <%= t(:reordering) %>
</div>

<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to t("web_app_theme.list"), admin_categories_path %></li>
      <li><%= link_to t("web_app_theme.new"), new_admin_category_path %></li>
    </ul>
  </div>
  <div class="content">          
    <h2 class="title"><%= t("web_app_theme.categories") %></h2>
    <div class="inner">
      <% if @categories.any? %>
        <table class="table">
          <thead>
          <tr>             
            <th class="first"><%= t("activerecord.id") %></th>
            <th><%= t("activerecord.category.name") %></th>
            <th><%= t("activerecord.created_at") %></th>
            <th class="last"></th>
          </tr>
          </thead>
          <tbody id="categories">
          <% @categories.each do |category| %>
            <tr id="category-<%= category.id %>" class="<%= cycle("odd", "even") %>">
              <td><%= category.id %></td>
              <td><%= link_to category.name, admin_category_path(category) %></td>
              <td><%= category.created_at %></td>
              <td class="last">
                <%= link_to t("web_app_theme.show"), admin_category_path(category) %> |
                <%= link_to t("web_app_theme.edit"), edit_admin_category_path(category) %> |
                <%= link_to t("web_app_theme.delete"), admin_category_path(category), :method => :delete, :confirm => "#{t("web_app_theme.confirm")}" %>
              </td>
            </tr>          
          <% end %>
          </tbody>
        </table>
      <% end %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>
