<%= render "layouts/header" %>
  <body>
    <div class="header">
      <%= render 'layouts/lang' %>
      <h1><a href="#"><span></span>Webgate Systems</a></h1>
      <%= render 'layouts/menu' %>
    </div><!-- END header -->
    <div class="wrapper">
      <div class="tabs_block">
        <div class="competences">
          <div class="content">
            <%= yield %>
          </div><!-- END content -->
        <%= render 'layouts/slider' %>
        </div><!-- END competences -->
      </div><!-- END tabs_block -->
      <div class="carousel">
        <div class="carousel_content">
          <h2>Ostatnie realizacje:</h2>
          <a href="#" class="carousel_more">zobacz więcej realizacji &raquo;</a>
          <div class="carousel_block">
            <ul>
              <li>
                <a href="#"><%= image_tag "img2.jpg", width: 182, height: 114, alt: "img2" %></a>
                <a href="#" class="sitename">www.elmax.org</a>
              </li>
              <li>
                <a href="#"><%= image_tag "img2.jpg", width: 182, height: 114, alt: "img2" %></a>
                <a href="#" class="sitename">www.elmax.org</a>
              </li>
              <li>
                <a href="#"><%= image_tag "img2.jpg", width: 182, height: 114, alt: "img2" %></a>
                <a href="#" class="sitename">www.elmax.org</a>
              </li>
              <li>
                <a href="#"><%= image_tag "img2.jpg", width: 182, height: 114, alt: "img2" %></a>
                <a href="#" class="sitename">www.elmax.org</a>
              </li>
              <li>
                <a href="#"><%= image_tag "img2.jpg", width: 182, height: 114, alt: "img2" %></a>
                <a href="#" class="sitename">www.elmax.org</a>
              </li>
              <li>
                <a href="#"><%= image_tag "img2.jpg", width: 182, height: 114, alt: "img2" %></a>
                <a href="#" class="sitename">www.elmax.org</a>
              </li>
            </ul><!-- END carousel_block -->
          </div>
        </div><!-- END carousel_content -->
      </div><!-- END carousel -->
    </div><!-- END wrapper -->
    <%= render "layouts/footer" %>
  </body>
</html>
